@use 'sass:math';

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

html {
    width: 100%;
    height: 100%;
    text-size-adjust: 100%;
    scroll-behavior: smooth;

}

body {
    -webkit-overflow-scrolling: touch;
    text-size-adjust: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: size(16);
    touch-action: manipulation;
    line-height: normal;
    position: relative;
}

a,
button {
    text-decoration: none;
    cursor: pointer;
    color: currentColor;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

$baseSize: 16;

@function size($target, $context: $baseSize) {
    @return math.div($target, $context) * 1em;
}


@mixin max($max) {
    @media only screen and (max-width: #{$max}px) {
        @content
    }

    ;
}

@mixin maxOrientation($max, $orientation) {
    @media only screen and (max-device-width: #{$max}px) and (orientation: #{$orientation}) {
        @content
    }

    ;
}

.container {
    &--fluid {
        padding-top: 40px;
        padding-left: 15px;
        padding-right: 15px;
        max-height: 100vh;
        height: 100vh;
    }
}

input {
    width: 100%;
    padding: 20px 15px;
    background: #F4F4F4;
    border-radius: 8px;
    color: black;
    outline: none;
    border: none;

    &::placeholder {
        font-size: size(14);
        font-weight: normal;
        color: #333333;
    }
}

label {
    font-size: size(15);
    display: inline-block;
    font-weight: bold;
}

.btn {
    outline: 0;
    padding: 20px 45px;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    font-size: size(15);
    border-radius: 8px;
    vertical-align: middle;
    text-align: center;
    line-height: normal;
    width: 100%;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.16);

    &--blue {
        background: #2F80ED;
    }

    &--yellow {
        background: #F2C94C;
    }

    &:disabled {
        background: #E0E0E0;
    }
}

@for $i from 1 through 80 {
    .fs {
        &--#{$i} {
            font-size: size($i);
        }
    }
}

@for $i from 0 through 20 {
    .pd {
        &--#{$i * 5} {
            padding: #{$i * 5}px;
        }
    }

    .pt {
        &--#{$i * 5} {
            padding-top: #{$i * 5}px;
        }
    }

    .pr {
        &--#{$i * 5} {
            padding-right: #{$i * 5}px;
        }
    }

    .pb {
        &--#{$i * 5} {
            padding-bottom: #{$i * 5}px;
        }
    }

    .pl {
        &--#{$i * 5} {
            padding-left: #{$i * 5}px;
        }
    }

    .mg {
        &--#{$i * 5} {
            margin: #{$i * 5}px;
        }
    }

    .mt {
        &--#{$i * 5} {
            margin-top: #{$i * 5}px;
        }
    }

    .mr {
        &--#{$i * 5} {
            margin-right: #{$i * 5}px;
        }
    }

    .mb {
        &--#{$i * 5} {
            margin-bottom: #{$i * 5}px;
        }
    }

    .ml {
        &--#{$i * 5} {
            margin-left: #{$i * 5}px;
        }
    }
}

.font {
    &--light {
        font-weight: 300;
    }

    &--thin {
        font-weight: 100;
    }

    &--semibold {
        font-weight: 600;
    }

    &--medium {
        font-weight: 500;
    }

    &--bold {
        font-weight: bold;
    }

    &--bolder {
        font-weight: 800;
    }

    &--normal {
        font-weight: normal;
    }

    &--black {
        font-weight: 900;
    }

    &--center {
        text-align: center;
    }

    &--right {
        text-align: right;
    }

    &--left {
        text-align: left;
    }

    &--underLine {
        text-decoration: underline;
    }
}

.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &--buttons {
        width: 100%;
    }

    &.center {
        justify-content: center;
    }
}

.form {
    &--login {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 80%;
    }
}

.message {
    width: 100%;
    display: inline-block;
    padding: 25px 15px;
    color: white;
    font-size: size(14);
    border-radius: 8px;

    &--error {
        background: #EB5757;
    }
}

.board {
    width: 100%;
    background: #FFE79E;
    display: flex;
    flex-direction: column;

    &--group {
        display: flex;
        flex-direction: column;

        .piece {
            display: inline-block;
            margin: 20px;
            width: 38px;
            height: 38px;
        }
    }

    &.disable {
        pointer-events: none;
    }
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;

    &:first-child {
        .square {
            margin-top: 0;
        }
    }
    &:last-child {
        .square {
            margin-bottom: 0;
        }
    }
    .square {
        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.square {
    width: calc(100% / 3);
    margin: 3px;
    padding: 20px;
    background-color: white;
    text-align: center;

    img {
        opacity: 0;
        transition: 0.4s ease-in;

        &.show {
            opacity: 1;
        }
    }
}

.back {
    position: absolute;
    top: 10px;
    left: 10px;
}